
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EAE0D1; 
    color: #333;
}

a:link, a:visited, a:hover, a:active {color:#333;}

.container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    font-size: 1.3rem;
    height: 3rem auto;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.big-title {
    font-family: 'Playfair Display', serif;
    font-size: 3.0rem; 
    font-weight: 700;  
    color: #2c3e50;  
    text-align: center;
    margin-top: 30px;
}

.mid-explanation {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;  
    font-weight: 300; 
    color: #555; 
    text-align: center;
    margin: 15px auto;
    max-width: 800px; 
    line-height: 1.5; 
}

.mid2-explanation {
    font-family: 'Roboto', sans-serif; 
    font-size: 1rem; 
    font-weight: 500; 
    color: #766; 
    text-align: center;
    margin: 20px auto;
    max-width: 800px; 
    line-height: 1.2; 
}

#expert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: #f6f6f6; 
    padding: 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); 
}

#expert-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 38vh; 
    background-color: #f6f6f6; 
    padding: 0px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); 
}

.map-title {
    font-family: 'Playfair Display', serif; 
    font-size: 2.0rem; 
    font-weight: 700; 
    color: #2c3e50; 
    text-align: center;
    margin-bottom: 30px; 
}

#googleMap {
    width: 90%; 
    max-width: 800px; 
    height: 400px; 
    border: 3px solid #2c3e50; 
    border-radius: 10px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    margin: 1em;
}

.map-controls {
    display: flex;
    justify-content: center;
    align-content: center; 
    flex-wrap: wrap; 
    gap: 0.5rem auto;
    margin-top: 1.5rem auto;
    padding: 0.7rem; 
}

.map-controls button {
    background-color: #2c3e50;
    color: #f6f6f6;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.9rem;
    padding: 5px 7px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.map-controls button:hover {
    background-color: #34495e;
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#addDrinkCountBtn {
    background-color: #6F4E37; 
    color: #f6f6f6;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    
    padding: 0.25rem 0.5rem;
    
    border: none; 
    border-radius: 4px; 
    
    cursor: pointer; 
    transition: all 0.1s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
#addDrinkCountBtn:hover {
    background-color: #85624A; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#initDrinkCountBtn {
    background-color: #6F4E37; 
    color: #f6f6f6;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    
    padding: 0.25rem 0.5rem;
    
    border: none; 
    border-radius: 4px; 
    
    cursor: pointer; 
    transition: all 0.1s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
#initDrinkCountBtn:hover {
    background-color: #85624A; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#drinkCount {
    background-color: #f6f6f6;
    color: #6F4E37;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    
    padding: 10px 20px;
    border: 2px solid #6F4E37; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

#calendarText {
    background-color: #f6f6f6;
    color: #34495e;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    
    padding: 1rem 1rem auto;
    text-align: left;
    line-height: normal;
}

.basicBox {
    width: 80%; 
    max-width: 800px; 
    max-height: 1000px; 
    border: none;
    margin: 1.6em auto;
}

.peopleName {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.3rem; 
    font-weight: 600; 
    color: #34495e;
    text-align: left;
    margin: 1rem auto;
    margin-top: 2.2rem;
    max-width: 800px; 
    line-height: 1.8; 
}

.peopleIntro {
    font-family: 'Roboto', sans-serif; 
    font-size: 0.8rem; 
    font-weight: 300; 
    color: #34495e;
    text-align: left;
    margin: 1rem auto;
    max-width: 800px; 
    line-height: 1.8; 
}

.lastWords {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.0rem; 
    font-weight: 600; 
    color: #34495e;
    text-align: center;
    margin: 1rem auto;
    margin-top: 2rem;
    max-width: 800px; 
    line-height: 1.8; 
}